mkdocs>=1.6.0
mkdocs-material>=9.5.32
mkdocs-material-extensions
mkdocs-minify-plugin
mkdocs-redirects
mkdocs-macros-plugin
mkdocs-awesome-pages-plugin
mkdocs-git-revision-date-localized-plugin
markdown>=3.8.1
pygments
mkdocs-render-swagger-plugin
mkdocs-mermaid2-plugin
lightgallery
wheel>=0.38.0
setuptools>=78.1.1
urllib3>=2.6.3
requests>=2.32.2
zipp>=3.19.1
pymdown-extensions>=10.16.1 # not directly required, pinned by Snyk to avoid a vulnerability
